<!-- START JUMBOTRON -->
<div data-pages="parallax" class="mt-10">
    <div class="container-fluid p-l-25 p-r-25 sm-p-l-0 sm-p-r-0">
        <div class="inner">
            <!-- START BREADCRUMB -->
            <ol class="breadcrumb sm-p-b-5">
                <li class="breadcrumb-item">
                    <a href="javascript:void(0)">Home</a>
                </li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </div>
    </div>
</div>
<!-- END JUMBOTRON -->
<!-- START CONTAINER FLUID -->
<div class="container-fluid p-l-25 p-r-25 p-t-0 p-b-25 sm-padding-10 sm-gutter">
    <!-- START ROW -->
    <div class="row">
        <div class="col-lg-3 col-sm-6  d-flex flex-column">
            <!-- START WIDGET -->
            <!-- START ITEM -->
            <!--<pgcardsocial Type="widget" AdditionalClasses="full-width m-b-10 no-border" Title="New Transfer" TitleClass="text-success"
                           Source="Apovallo" >
                <ng-template #CustomBody>
                    <h3 class='no-margin'>Total: <span><small>${{ nSuccessfulSum }}</small></span></h3>
                    <h3 class="small hint-text no-margin">Number of transactions: <span><small> {{ nSuccessful }}</small></span></h3>
                    &lt;!&ndash;<h3 class="m-b-0">111.25
                        <span class="text-success">
              <i class="fa fa-sort-up small tex"></i> 0.15</span>
                    </h3>&ndash;&gt;

                </ng-template>
            </pgcardsocial>-->
            <!--<div class="card card-default">
                <div class="card-header ">
                    <div class="card-title">New Transfer
                    </div>
                </div>
                <div class="card-body">
                    <p>You can Initiate a fresh transfer here.
                    </p>
                    <button routerLink="transfer" aria-label="" style="background-color: #8be8a4" type="button" class="btn btn-block btn-primary btn-lg btn-icon-right">
                        <span>Initiate New Transaction</span>
                        <i class="pg-icon md-18">arrow_right</i>
                    </button>
                </div>

            &lt;!&ndash; END card &ndash;&gt;
            &lt;!&ndash; </div> &ndash;&gt;
        </div>-->
            <!-- END ITEM -->
            <!-- END WIDGET -->
            <!-- START WIDGET -->

            <!--<weekly-sales-widget></weekly-sales-widget>-->
            <!-- END WIDGET -->
            <!-- START WIDGET -->
            <!--<quick-stats-widget></quick-stats-widget>-->
            <!-- END WIDGET -->
        </div>
        <div class="col-lg-6 col-sm-6  d-flex flex-column">

            <h2 style="text-align: center;">Welcome to Apovallo,  Where Money moves. </h2>

            <div class="card card-default">
                <div class="card-header ">
                    <div class="card-title">New Transfer
                    </div>
                </div>
                <div class="card-body">
                    <p>You can Initiate a new transfer here.
                    </p>
                    <button routerLink="transfer" aria-label="" style="background-color: #8be8a4" type="button" class="btn btn-block btn-primary btn-lg btn-icon-right">
                        <span>Initiate New Transaction</span>
                        <i class="pg-icon md-18">arrow_right</i>
                    </button>
                </div>

                <!-- END card -->
                <!-- </div> -->
            </div>
        </div>

        <!--  <div class="col-lg-4 col-sm-6  d-flex flex-column">
              &lt;!&ndash; START ITEM &ndash;&gt;

              <pgcardsocial Type="widget" AdditionalClasses="full-width m-b-10 no-border" Title="Failed Transactions" style="color: #ff0000" TitleClass="text-danger"
                            Source="Apovallo" Timestamp="{{ lastSuccesful.created | date: 'dd-MM-yyyy'}}">
                  <ng-template #CustomBody>
                      <h3 class='no-margin'>Total: <span><small>${{nFailedSum}}</small></span></h3>
                      <h3 class="small hint-text no-margin">Number of transactions:  <span><small>{{ nFailed }}</small></span></h3>
                     &lt;!&ndash; <h3 class="m-b-0">111.25
                          <span class="text-success">
                <i class="fa fa-sort-up small text-success"></i> 0.15</span>
                      </h3>&ndash;&gt;
                  </ng-template>
              </pgcardsocial>
          </div>-->
       <!-- <div class="col-lg-4 m-b-10 d-flex">
            &lt;!&ndash; START WIDGET &ndash;&gt;
            &lt;!&ndash;<table-widget></table-widget>&ndash;&gt;
            &lt;!&ndash; END WIDGET &ndash;&gt;
        </div>-->
    </div>

    <div class="row">
        <div class="col-lg-3 col-sm-6  d-flex flex-column">
            <!-- START WIDGET -->
            <!-- START ITEM -->
           <!-- <pgcardsocial Type="widget" AdditionalClasses="full-width m-b-10 no-border" Title="Successful Transactions" TitleClass="text-success"
                          Source="Pages" Timestamp="Jul 24">
                <ng-template #CustomBody>
                    <h5 class='no-margin'>Apple Inc.</h5>
                    <h5 class="small hint-text no-margin">NASDAQ: AAPL - Nov 13 8:37 AM ET</h5>
                    <h3 class="m-b-0">111.25
                        <span class="text-success">
              <i class="fa fa-sort-up small tex"></i> 0.15</span>
                    </h3>
                </ng-template>
            </pgcardsocial>-->
            <!-- END ITEM -->
            <!-- END WIDGET -->
            <!-- START WIDGET -->

            <!--<weekly-sales-widget></weekly-sales-widget>-->
            <!-- END WIDGET -->
            <!-- START WIDGET -->
            <!--<quick-stats-widget></quick-stats-widget>-->
            <!-- END WIDGET -->
        </div>
        <div class="col-lg-6 col-sm-6  d-flex flex-column">
            <!-- START ITEM -->
            <div class="card card-default">
                <div class="card-header ">
                    <div class="card-title">
                    </div>
                </div>
                <div class="card-body">
                    <!--<button routerLink="transfer" aria-label="" class="btn btn-block btn-primary btn-lg" type="button">
                        <i class="pg-icon">send</i>
                        <span>Send Money</span>
                    </button>-->
                    <button routerLink="transactions" style="background-color: #007bff" aria-label="" class="btn btn-block btn-info btn-lg" type="button">
                        <i class="pg-icon"></i>
                        <span>Transactions</span>
                    </button>
                   <!-- <button routerLink="transactions/pending" aria-label="" class="btn btn-block btn-danger btn-lg" type="button">
                        <i class="fa fa-pause"></i>
                        <span>Pending Transactions</span>
                    </button-->
                </div>
            </div>

        </div>

        <div class="col-lg-3 col-sm-6  d-flex flex-column">
            <!-- START ITEM -->

            <!--<pgcardsocial Type="widget" AdditionalClasses="full-width m-b-10 no-border" Title="Failed Transactions" style="color: #ff0000" TitleClass="text-danger"
                          Source="John Smith" Timestamp="Apr 24">
                <ng-template #CustomBody>
                    <h5 class='no-margin'>Apple Inc.</h5>
                    <h5 class="small hint-text no-margin">NASDAQ: AAPL - Nov 13 8:37 AM ET</h5>
                    <h3 class="m-b-0">111.25
                        <span class="text-success">
              <i class="fa fa-sort-up small text-success"></i> 0.15</span>
                    </h3>
                </ng-template>
            </pgcardsocial>-->
        </div>
        <!-- <div class="col-lg-4 m-b-10 d-flex">
             &lt;!&ndash; START WIDGET &ndash;&gt;
             &lt;!&ndash;<table-widget></table-widget>&ndash;&gt;
             &lt;!&ndash; END WIDGET &ndash;&gt;
         </div>-->
    </div>

</div>
<!-- END CONTAINER FLUID -->
