<!-- START JUMBOTRON -->
<div data-pages="parallax" class="mt-10">
    <div class="container-fluid p-l-25 p-r-25 sm-p-l-0 sm-p-r-0">
        <div class="inner">
            <!-- START BREADCRUMB -->
            <ol class="breadcrumb sm-p-b-5">
                <li class="breadcrumb-item">
                    <a href="javascript:void(0)">Home</a>
                </li>
                <li class="breadcrumb-item active">Pending Transactions</li>
            </ol>
        </div>
    </div>
</div>

<!-- START CONTAINER FLUID -->
<pg-container extraHorizontalClass="bg-white" extraClass="bg-white">
    <!-- START card -->
    <div class="card card-transparent">
        <div class="card-header ">
            <div class="card-title">Transaction History
            </div>
            <div class="pull-right">
                <div class="col-xs-12">
                    <input type="text" class="form-control pull-right" placeholder="Search" (keyup)='updateFilter($event)'>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <ngx-datatable
                    #table
                    class='table table-hover'
                    [columns]="columns"
                    [columnMode]="columnModeSetting"
                    [scrollbarH]="scrollBarHorizontal"
                    [headerHeight]="50"
                    [footerHeight]="50"
                    [rowHeight]="'auto'"
                    [limit]="15"
                    [rows]='basicRows'>

                    <!--<ngx-datatable-column prop="id" name="ID"></ngx-datatable-column>-->
                    <ngx-datatable-column prop="to_name" name="Receiver"></ngx-datatable-column>
                    <ngx-datatable-column prop="to_email" name="Receiver Email"></ngx-datatable-column>
                    <ngx-datatable-column prop="amount" name="Amount"></ngx-datatable-column>
                    <ngx-datatable-column name="Currency">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <strong>{{ value.toUpperCase() }}</strong>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column prop="to_status" name="Status"></ngx-datatable-column>
                    <ngx-datatable-column prop="id" name="Action">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value">
                            <div class="btn-group btn-toolbar  col-6 no-padding">
                                <div class="btn-group">
                                    <button routerLink="/dashboard/transactions/{{value}}" aria-label="" type="button" class="btn btn-success">View
                                    </button>
                                    <!--<button aria-label="" type="button" class="btn btn-success">Help
                                    </button>
                                    <button aria-label="" type="button" class="btn btn-success">Create
                                    </button>-->
                                </div>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ng-template
                            ngx-datatable-footer-template
                            let-rowCount="rowCount"
                            let-pageSize="pageSize"
                            let-selectedCount="selectedCount"
                            let-curPage="curPage"
                            let-offset="offset">
                        Showing {{curPage}} to {{pageSize}} of {{rowCount}} entries
                    </ng-template>
                </ngx-datatable>
            </div>
        </div>
    </div>
    <!-- END card -->
</pg-container>
<!-- END CONTAINER FLUID -->
