<div *ngIf="!is_ready" class="register-container mt-1 pt-1 full-height sm-p-t-30">
    <div class="d-flex justify-content-center flex-column full-height ">

        <!--<img src="assets/img/logo.png" alt="logo" pgRetina src1x="assets/img/logo.png" src2x="assets/img/logo_2x.png" width="78" height="22">-->
        <h4>We make moving your money very easy, you dont have to worry</h4>
        <!--<p>
            We accept various types of cards: Debit, Credit, Amex, Visa, and others.
        </p>-->
        <form class="p-t-15" role="form" name="transferForm" #transferForm="ngForm" (ngSubmit)="confirmTransaction(transferForm)">
            <div class="row">

                <div class="col-md-6">
                        <div pgFormGroupDefault class="form-group form-group-default" [class.has-error]="useCurrency.invalid && (useCurrency.dirty || useCurrency.touched)">
                            <!--<label>Currency</label>-->
                            <pg-select style="width: 100%;" [(ngModel)]="currency" (ngModelChange)="changeSource(transferForm)" id="currency" name="currency" #useCurrency= "ngModel" PlaceHolder="Choose currency" required>
                                <pg-option *ngFor="let option of optionsSource" Label="{{option.currency_label.toUpperCase()}}"  [Value]="option">
                                </pg-option>
                            </pg-select>
                            <div *ngIf="useCurrency.invalid && (useCurrency.dirty || useCurrency.touched)" >
                                <label  *ngIf="useCurrency.errors.required" class="error" >This field is required.</label>
                            </div>

                        </div>
                </div>

                   <!-- <div class="col-md-6">
                        <div pgFormGroupDefault class="form-group form-group-default" [class.has-error]="sAmount.invalid && (sAmount.dirty || sAmount.touched || sAmount.value >2000)">
                            <label>Amount</label>
                            <input type="number" class="form-control" id="amount" name="amount" [(ngModel)]="amount"  #sAmount="ngModel" required>
                        </div>
                        <div *ngIf="sAmount.invalid && (sAmount.dirty || sAmount.touched || sAmount.value > 2000)" >
                            <label  *ngIf="sAmount.errors.required" class="error" >This field is required or value greater than 2000.</label>
                        </div>
                    </div>-->
                <div class="col-md-6">
                <div pgFormGroupDefault class="form-group form-group-default" [class.has-error]="(sAmount.invalid && (sAmount.dirty || sAmount.touched))|| sAmount.value > 2000">
                    <label>Amount (max is 2000)</label>
                    <input type="number"  class="form-control" id="amount" name="amount" [(ngModel)]="amount"  #sAmount="ngModel" required >
                </div>
                <div *ngIf="(sAmount.invalid && (sAmount.dirty || sAmount.touched)) || sAmount.value > 2000" >
                    <label  *ngIf="fName.errors.required" class="error" >This field is required or amount is greater than 2000</label>
                </div>

                </div>

            </div>

            <div class="row">
                <div class="col-md-12 mb-2">
                    <div class="form-check complete">
                        <input type="checkbox" id="checkColorOpt2" name="saveBeneficiary" [(ngModel)]="loadBeneficiary" (ngModelChange)="loadDataBeneficiary($event)">
                        <label for="checkColorOpt2">
                            Choose a saved beneficiary?
                        </label>
                    </div>
                </div>
            </div>

            <div *ngIf="loadBeneficiary" class="row">
                <div class="col-md-12 mb-2">
                    <div pgFormGroupDefault class="form-group form-group-default" [class.has-error]="useBen.invalid ">
                        <pg-select style="width: 100%;" [(ngModel)]="beneficiary" (ngModelChange)="fillBeneficiary($event)" id="beneficiary" name="beneficiary" #useBen= "ngModel" PlaceHolder="Choose Beneficiary" AllowClear
                                   ShowSearch>
                            <pg-option *ngFor="let option of beneficiaries" Label="{{option.name + '| ' + option.bank_name + '|' + option.account}}"  [Value]="option">
                            </pg-option>
                        </pg-select>
                        <div *ngIf="useBen.invalid" >
                            <label  *ngIf="useBen.errors.required" class="error" >This field is required.</label>
                        </div>
                    </div>
                </div>
            </div>

         <div class="row">
                <div class="col-md-12 mb-2">
                    <div pgFormGroupDefault class="form-group form-group-default" [class.has-error]="fName.invalid && (fName.dirty || fName.touched)">
                        <label>Receiver's FullName</label>
                        <input type="text"  class="form-control" id="to_firstname" name="to_firstname" [(ngModel)]="to_firstname"  #fName="ngModel" required >
                    </div>
                    <div *ngIf="fName.invalid && (fName.dirty || fName.touched)" >
                        <label  *ngIf="fName.errors.required" class="error" >This field is required.</label>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6">
                    <div pgFormGroupDefault class="form-group form-group-default" [class.has-error]="toBank.invalid && (toBank.dirty || toBank.touched)">
                        <label>Name of Bank</label>
                        <input type="text" placeholder="" class="form-control" id="to_bank" name="to_bank" [(ngModel)]="to_bank"  #toBank="ngModel" required >
                    </div>
                    <div *ngIf="toBank.invalid && (toBank.dirty || toBank.touched)" >
                        <label  *ngIf="toBank.errors.required" class="error" >This field is required.</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div pgFormGroupDefault class="form-group form-group-default" [class.has-error]="toAccount.invalid && (toAccount.dirty || toAccount.touched)">
                        <label>Account Number</label>
                        <input type="text" placeholder="" maxlength="18" class="form-control" id="to_account_number" name="to_account_number" [(ngModel)]="to_account_number"  #toAccount="ngModel" required>
                    </div>
                    <div *ngIf="toAccount.invalid && (toAccount.dirty || toAccount.touched)" >
                        <label  *ngIf="toAccount.errors.required" class="error" >This field is required.</label>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div pgFormGroupDefault class="form-group form-group-default" [class.has-error]="toPhone.invalid && (toPhone.dirty || toPhone.touched)">
                        <label>Receiver's Phone</label>
                        <input type="text" placeholder="" class="form-control" id="to_phone" name="to_phone" [(ngModel)]="to_phone"  #toPhone="ngModel" required >
                    </div>
                    <div *ngIf="toPhone.invalid && (toPhone.dirty || toPhone.touched)" >
                        <label  *ngIf="toPhone.errors.required" class="error" >This field is required.</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div pgFormGroupDefault class="form-group form-group-default" [class.has-error]="toEmail.invalid && (toEmail.dirty || toEmail.touched)">
                        <label>Receiver's Email</label>
                        <input type="text" placeholder="" class="form-control" id="to_email" name="to_email" [(ngModel)]="to_email"  #toEmail="ngModel">
                    </div>
                    <div *ngIf="toEmail.invalid && (toEmail.dirty || toEmail.touched)" >
                        <label  *ngIf="toEmail.errors.required" class="error" >This field is required.</label>
                    </div>
                </div>
            </div>


            <div class="row mt-2">
                <div class="col-md-12 mb-2">
                    <div class="form-check complete">
                        <input type="checkbox" id="checkColorOpt1" name="saveBeneficiary" [(ngModel)]="saveBeneficiary" (ngModelChange)="createBeneficiary($event)">
                        <label for="checkColorOpt1">
                            Save Beneficiary
                        </label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 mb-2">
                    <div pgFormGroupDefault class="form-group form-group-default" [class.has-error]="dCountry.invalid && (dCountry.dirty || dCountry.touched)">
                       <!-- <label>Destination Country</label>-->
                        <pg-select style="width: 100%;" [(ngModel)]="destination_country"  PlaceHolder="Choose Destination country"  (ngModelChange)="changeDestination($event)"  id="destination_country" name="destination_country" #dCountry="ngModel"  AllowClear
                                   ShowSearch required>
                            <pg-option *ngFor="let option of optionsDestination" Label="{{option.name}}"  [Value]="option">
                            </pg-option>
                        </pg-select>
                        <div *ngIf="dCountry.invalid && (dCountry.dirty || dCountry.touched)" >
                            <label  *ngIf="dCountry.errors.required" class="error" >This field is required.</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div pgFormGroupDefault class="form-group form-group-default" [class.has-error]="cRate.invalid && (cRate.dirty || cRate.touched)">
                        <label>Current Exchange Rate</label>
                        <input readonly type="number" placeholder="" class="form-control" id="rate" name="rate" [(ngModel)]="rate"  #cRate="ngModel" required >
                    </div>
                    <div *ngIf="cRate.invalid && (cRate.dirty || cRate.touched)" >
                        <label  *ngIf="cRate.errors.required" class="error" >This field is required.</label>
                    </div>
                </div>
                <div class="col-md-6">
                   <!-- <div pgFormGroupDefault class="form-group form-group-default" [class.has-error]="cTotal.invalid && (cTotal.dirty || cTotal.touched)">
                        <label>Destination Total</label>
                        <input readonly type="text" value="{{ amount * rate}}" placeholder="{{ amount * rate }}" class="form-control" id="total" name="total" [(ngModel)]="total"  #cTotal="ngModel" required>
                    </div>
                    <div *ngIf="cTotal.invalid && (cTotal.dirty || cTotal.touched)" >
                        <label  *ngIf="cTotal.errors.required" class="error" >This field is required.</label>
                    </div>-->
                    <h3>Total : <span><small>{{ amount * rate + "" }} {{ destination_country?.currency }}</small></span></h3>
                </div>
            </div>



            <button class="btn btn-primary btn-lg btn-cons m-t-10"  [class.disabled]="!transferForm.valid">Confirm Transaction</button>
        </form>

    </div>


</div>

<div *ngIf="middle" class="register-container mt-1 pt-1 full-height sm-p-t-30">
    <div class="d-flex justify-content-center flex-column full-height ">
        <!-- START CONTAINER FLUID -->
        <pg-container>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-transparent">
                        <div class="card-header ">
                            <h4>Please confirm transaction, then proceed to make payment</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-1">

                                </div>
                                <div class="col-lg-10">
                                    <pgcard Maximize="false" Refresh="false" Toggle="false">
                                        <ng-template #CardTitle>Transaction Details</ng-template>

                                        <!--<div><p><span><b>Payment Ref : </b><small>{{ transaction.pay_ref }}</small></span></p></div>-->
                                        <div><p><span><b>Amount : </b><small>{{ tnx.amount }}</small></span></p></div>
                                        <div><p><span><b>Currency : </b><small>{{ tnx.currency.toUpperCase() }}</small></span></p></div>
                                        <!--<div><p><span><b>Transaction Status : </b><small>{{ tnx_status }}</small></span></p></div>-->
                                        <!--<div><p><span><b>Transfer Status: </b><small>{{ transaction.transfer_status }}</small></span></p></div>-->
                                        <div><p><span><b>Receiver's FullName : </b><small>{{ tnx.to_name }}</small></span></p></div>
                                        <div><p><span><b>Receiver's Bank : </b><small>{{ tnx.to_bank }}</small></span></p></div>
                                        <div><p><span><b>Receiver's Phone: </b><small>{{ tnx.to_phone }}</small></span></p></div>
                                        <div><p><span><b>Payment Account Number : </b><small>{{ tnx.to_account_number }}</small></span></p></div>
                                        <div><p><span><b>Receiver's Country : </b><small>{{ tnx.to_country}}</small></span></p></div>
                                        <div><p><span><b>Sending Rate : </b><small>{{ tnx.rate }}</small></span></p></div>
                                        <div><p><span><b>Receiver's Email : </b><small>{{ tnx.to_email }}</small></span></p></div>
                                        <div><p><span><b>Total in Destination Country : </b><small>{{ tnx.total }} {{destination_country?.currency}}</small></span></p></div>
                                    </pgcard>

                                    <div>
                                        <button class="btn btn-primary btn-lg btn-cons m-t-10 mr-lg-5" (click)="is_ready = false; middle =false ">Edit Payments</button>
                                        <button class="btn btn-primary btn-lg btn-cons m-t-10 ml-lg-3" (click)="is_goal = true; middle=false;" >Make Payment</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </pg-container>


        <!--<img src="assets/img/logo.png" alt="logo" pgRetina src1x="assets/img/logo.png" src2x="assets/img/logo_2x.png" width="78" height="22">-->

    </div>
</div>

<div *ngIf="is_goal" class="register-container mt-20 pt-1 full-height sm-p-t-30">
    <div class="d-flex justify-content-center flex-column full-height ">
        <h3> {{tnx.amount +"" + tnx.currency.toUpperCase()}} equivalent in local currency will be transferred  to {{" " +tnx.to_name}}.</h3>
        <!-- END CONTAINER FLUID -->
        <h4>Supply your card details to make payment</h4>
       <!-- <form class="p-t-1" role="form" name="transferForm" #payForm="ngForm" (ngSubmit)="sendTransaction()">
            <div class="row">
                <div class="col-md-10">
                    &lt;!&ndash;<div pgFormGroupDefault class="form-group form-group-default" >
                        <label>Credit Card Details</label>
                        <ngx-stripe-card
                                [options]="cardOptions"
                                [elementsOptions]="elementsOptions"
                        ></ngx-stripe-card>
                    </div>&ndash;&gt;
                </div>
            </div>
            <button class="btn btn-primary btn-lg btn-cons m-t-10"  [class.disabled]="!payForm.valid">Make Payment</button>
        </form>-->

        <ngx-stripe-card-group
                [formGroup]="stripeTest"
                [elementsOptions]="elementsOptions"
        >
            <div class="row">
                <div class="col-md-12 mb-2">
                    <div pgFormGroupDefault class="form-group form-group-default">
                        <label>Name</label>
                        <!-- <label>Destination Country</label>-->
                        <input class="form-control" formControlName="name" readonly />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 mb-2">
                    <div pgFormGroupDefault class="form-group form-group-default">
                        <!-- <label>Destination Country</label>-->
                        <label>Amount</label>
                        <input class="form-control" formControlName="amount" readonly />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 mb-2">
                    <div pgFormGroupDefault class="form-group form-group-default">
                        <!-- <label>Destination Country</label>-->
                        <label>Card Numbers</label>
                        <ngx-stripe-card-number [options]="cardOptions"></ngx-stripe-card-number>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 mb-2">
                    <div pgFormGroupDefault class="form-group form-group-default">
                        <!-- <label>Destination Country</label>-->
                        <label>Expiring Date</label>
                        <ngx-stripe-card-expiry [options]="cardOptions"></ngx-stripe-card-expiry>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 mb-2">
                    <div pgFormGroupDefault class="form-group form-group-default">
                        <!-- <label>Destination Country</label>-->
                        <label>CVC</label>
                        <ngx-stripe-card-cvc [options]="cardOptions"></ngx-stripe-card-cvc>
                    </div>
                </div>
            </div>


            <button class="btn btn-primary btn-lg btn-cons m-t-10" type="submit" (click)="sendTransaction()">
                PAY
            </button>
        </ngx-stripe-card-group>

    </div>

</div>



<div *ngIf="is_successful" class="register-container mt-40 pt-1 full-height sm-p-t-30">
    <div class="d-flex justify-content-center flex-column full-height ">

        <div class="card card-default" style="margin-top: 20%">
            <div class="card-header ">
                <div class="card-title">
                    Transfer Successful
                </div>
            </div>
            <div class="card-body">
                <!--<button routerLink="transfer" aria-label="" class="btn btn-block btn-primary btn-lg" type="button">
                    <i class="pg-icon">send</i>
                    <span>Send Money</span>
                </button>-->
                <h3>Your transfer to {{ tnx.to_name + " "}} is <span style="color: #2ca02c">Successful </span></h3>
                <button routerLink="/dashboard/transfer" style="background-color: #007bff" aria-label="" class="btn btn-block btn-info btn-lg" type="button">
                    <i class="pg-icon"></i>
                    <span>Initiate New Transactions</span>
                </button>
                <!-- <button routerLink="transactions/pending" aria-label="" class="btn btn-block btn-danger btn-lg" type="button">
                     <i class="fa fa-pause"></i>
                     <span>Pending Transactions</span>
                 </button-->
            </div>
        </div>
    </div>
</div>


<div *ngIf="is_failed" class="register-container mt-40 pt-1 full-height sm-p-t-30">
    <div class="d-flex justify-content-center flex-column full-height ">
        <h3>Your transfer to {{ tnx.to_name + " "}} <span style="color: red"><h2>Failed</h2></span>  </h3>
    </div>
</div>
