<div class=" register-container mt-1 pt-1 full-height sm-p-t-30" style="background-color: #363795">
    <div class="d-flex justify-content-center flex-column full-height ">

        <!--<img src="assets/img/logo.png" alt="logo" pgRetina src1x="assets/img/logo.png" src2x="assets/img/logo_2x.png" width="78" height="22">-->
        <h4 class="text-center" style="color: white">Fastest Way to Send Money</h4>
        <!--<p>
            We accept various types of cards: Debit, Credit, Amex, Visa, and others.
        </p>-->
        <form class="p-t-15" role="form" name="transferForm" #transferForm="ngForm">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-7 mr-0">
                    <!--<div class="form-group form-group-default" [class.has-error]="useCurrency.invalid && (useCurrency.dirty || useCurrency.touched)">
                        <label><span><small>Currency</small></span></label>
                        <select style="width: 100%;"  [(ngModel)]="currency" (ngModelChange)="changeSource(transferForm)" id="currency" name="currency" #useCurrency= "ngModel" PlaceHolder="Choose currency" required>
                            <option>CHOOSE CURRENCY</option>
                            <option *ngFor="let option of optionsSource" value="option">{{option.currency_label.toUpperCase()}}</option>
                        </select>
                        &lt;!&ndash;<pg-select style="width: 100%;" [(ngModel)]="currency" (ngModelChange)="changeSource(transferForm)" id="currency" name="currency" #useCurrency= "ngModel" PlaceHolder="Choose currency" required>
                            <pg-option *ngFor="let option of optionsSource" Label="{{option.currency_label.toUpperCase()}}"  [Value]="option">
                            </pg-option>
                        </pg-select>&ndash;&gt;
                        <div *ngIf="useCurrency.invalid && (useCurrency.dirty || useCurrency.touched)" >
                            <label  *ngIf="useCurrency.errors.required" class="error" >This field is required.</label>
                        </div>

                    </div>-->

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <select name="currency"  [(ngModel)]="source_country" (ngModelChange)="changeSource(transferForm)" class="custom-select form-control" id="inputGroupSelect01">
                                <option *ngFor="let option of optionsSource" [ngValue]="option">{{option.currency_label.toUpperCase()}}</option>
                            </select>
                        </div>
                        <div pgFormGroupDefault class="form-group form-group-default col-5">
                            <label>You send </label>
                        <input type="text" placeholder="Amount" class="form-control" id="amount" name="amount" [(ngModel)]="amount">
                        </div>
                    </div>
                </div>

                <div class="col-md-2"></div>
            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-6 mb-2">
                        <i style="color: white" class="fas fa-minus-circle mr-2">    Cost</i><span style="color: white">Fee</span>
                </div>
                <div class="col-md-2"></div>
            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-6 mb-2">
                    <i style="color: white" class="fas fa-equals mr-2">  {{amount + " " + source_country?.currency?.toUpperCase()}}</i> <span style="color: white">We will convert</span>
                </div>
                <div class="col-md-2"></div>
            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-6 mb-2">
                    <i style="color: white" class="fas fa-times-circle mr-2">  {{rate}}</i> <span style="color: white">Current Rate</span>
                </div>
                <div class="col-md-2"></div>
            </div>

            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-7 mr-0">
                    <!--<div class="form-group form-group-default" [class.has-error]="useCurrency.invalid && (useCurrency.dirty || useCurrency.touched)">
                        <label><span><small>Currency</small></span></label>
                        <select style="width: 100%;"  [(ngModel)]="currency" (ngModelChange)="changeSource(transferForm)" id="currency" name="currency" #useCurrency= "ngModel" PlaceHolder="Choose currency" required>
                            <option>CHOOSE CURRENCY</option>
                            <option *ngFor="let option of optionsSource" value="option">{{option.currency_label.toUpperCase()}}</option>
                        </select>
                        &lt;!&ndash;<pg-select style="width: 100%;" [(ngModel)]="currency" (ngModelChange)="changeSource(transferForm)" id="currency" name="currency" #useCurrency= "ngModel" PlaceHolder="Choose currency" required>
                            <pg-option *ngFor="let option of optionsSource" Label="{{option.currency_label.toUpperCase()}}"  [Value]="option">
                            </pg-option>
                        </pg-select>&ndash;&gt;
                        <div *ngIf="useCurrency.invalid && (useCurrency.dirty || useCurrency.touched)" >
                            <label  *ngIf="useCurrency.errors.required" class="error" >This field is required.</label>
                        </div>

                    </div>-->

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <select name="destination_country" [(ngModel)]="destination_country"  (ngModelChange)="changeDestination($event)"  class="custom-select form-control" id="inputGroupSelect02">
                                <option *ngFor="let option of optionsDestination" [ngValue]="option">{{option.currency_label.toUpperCase()}}</option>
                            </select>
                        </div>
                        <div pgFormGroupDefault class="form-group form-group-default col-6">
                            <label>Recipient gets </label>
                            <input type="text" placeholder="Total" class="form-control" id="total" name="total" [(ngModel)]="amount * rate" readonly>
                        </div>
                    </div>
                </div>

                <div class="col-md-2"></div>
            </div>
        </form>

    </div>

</div>
